html
{
	height: 100%;
}

body
{
	background-color: #2B4C6F;
	font-family: Georgia;
	height: 100%;
	margin: 0px;	
}

div.main
{
	width: 66%;
	margin: auto;
	background-color: #005E0C;
	padding: 2%;
	min-height: 100%;
	color: #C9D390;
}

nav
{
	position: fixed;
	top: 0;
	font-family: sans-serif;
	width: 100%;
	margin: auto;
	left: 0px;
}

footer
{
	bottom: 0;
	font-family: sans-serif;
	width: 100%;
	margin: auto;
	left: 0px;
}

.nav, .foot
{
	border: 1px solid black;
	background-color: black;
	width: 100%;
}

.nav td, .foot td
{
	border: 2px solid #005E0C;
	border-radius: 3px;
	background-color: #ADBC5F;
	text-align: center;
	width: 25%;
}

.nav * :hover, .foot * :hover
{
	background-color: #C9D390 !important;	
}

.nav * a, .foot * a
{
	font-weight: bold;
	color: #45617E;
	text-decoration: none;
}

.nav * a:hover, .foot * a:hover
{
	color: #15395F;
}

.active, .active:hover
{
	border: 2px solid #2B4C6F !important;
	background-color: #74A97A !important;
}

.active a, .active a:hover
{
	color: #062A4F;
	background-color: #74A97A !important;
}

.center
{
	margin: auto;
	text-align: center;
	padding: 2px;
	display: block;
}

img.center
{
	padding: 1%;
	width: 50%;
	height: 50%;
}

#title
{
	font-weight: bold;
	font-size: 35px;
}

#sub
{
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
}

p
{
	text-indent: 3%
}

#intro
{
	font-size: 150%;
	font-weight: bold;
}

#testtablediv
{
	align-items: center;
	text-align: center;
	padding:3px;
	margin: auto;
}

table.cool th
{
	width: 100%;
}

table.cool, table.cool * 
{
	text-align: center;
	font-family: 'Segoe Print', 'Trebuchet MS';
	color: red;
	background-color: pink;
	border: 2px dashed black;
	padding: 5px;
	margin: auto;
	border-radius: 10px;
}

object
{
	width: 100%;
	height: 5%;
	padding: 1%;
}

table.colorset
{
	padding: 1%;
}

.colorset * , .colorset
{
	border: 2px solid black;
	margin: auto;
}

.colorset * div
{
	width: 60px;
	height: 60px;
}