html
{
	height: 100%;
}

#heck
{
	width: 166%
	height: 100%;
	margin: auto;
}

a.extant:link, a.extant:visited
{
	font-weight: bold;
	color: #45617E;
	text-decoration: none;
}

#woo
{
	color: #062A4F;
}

a.extant:hover
{
	color: #15395F;
}

nav
{
	position: fixed;
	top: 0;
	font-family: sans-serif;
	width: 100%;
	margin: auto;
}

#official
{
	width: 100%;
	text-align: center;
	margin: all;
}

tr.neato, td.neato
{
	border: 2px solid #005E0C;
	border-radius: 3px;
	width: 20%;
	background-color: #ADBC5F;
}

td.neato:hover
{
	background-color: #C9D390 !important;	
}

#active
{
	border: 2px solid #2B4C6F !important;
	background-color: #74A97A !important;
}

body
{
	margin:auto;
	background-color: #93A537;
	font-family: Georgia;
	height: 100%;
}

div.body
{
	width: 66%;
	margin: auto;
	background-color: #74A97A;
	padding: 2%;
	min-height: 100%;
}

#head
{
	text-align: center;
	margin: auto;
}

.intro
{
	font-size: 150%;
	font-weight: bold;
}

div.table
{
	align-items: center;
	text-align: center;
	padding:3px;
}

.legit
{
	font-family: Georgia;
	padding: 5px;
	width: 66%;
}

.Cool
{
	text-align: center;
	font-family: 'Geo';
	font-size: 150%;
	color: red;
	background-color: pink;
	border: 2px dashed orange;
	padding: 5px;
	margin: auto;
	width: 25%;
	height: 25%;
	border-radius: 10px;
}

.center
{
	margin: auto;
	width: 50%;
	height:50%;
	display: block;
	border: 1px dotted black;
}

p
{
	text-indent: 3% !important;
}

#pad
{
	padding: 2%;
}

div.license object
{
	width: 100%;
}

.colorset, .colorset th, .colorset td
{
	border: 2px solid black;
	margin: auto;
}

div.test
{
	width: 50px;
	height: 50px;
}