html
{
	height: 100%;
}

body
{
	background-color: #2B4C6F;
	font-family: Georgia;
	height: 100%;
	margin: 0px;
	font-size: 16px;	
}

div.hero
{
	background-image: url("misc/blank-05.jpeg");
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 50vh;
}

.hero h1, .hero h3
{
	color: #C9D390;
	padding-top: 25vh;
}

div.main
{
	width: 66%;
	margin: auto;
	background-color: #005E0C;
	padding: 2%;
	min-height: 100%;
	color: #C9D390;
}

nav
{
	position: fixed;
	top: 0;
	font-family: sans-serif;
	width: 100%;
	margin: auto;
	left: 0px;
}

footer
{
	bottom: 0;
	font-family: sans-serif;
	width: 100%;
	margin: auto;
	left: 0px;
}

.nav, .foot
{
	opacity: 0%;
	width: 100%;
}

.nav td, .foot td
{
	border: 2px solid #005E0C;
	border-radius: 3px;
	background-color: #ADBC5F;
	text-align: center;
	width: 25%;
	font-size: 125%;
}

.nav * a:hover, .foot * a:hover
{
	text-decoration: underline !important;
	background-color: #C9D390 !important;
}

/*td.active a:hover, td.active:hover
{
	background-color: #64798E !important;
	color: #637600 !important;
}*/

.nav * a, .foot * a
{
	font-weight: bold;
	color: #45617E;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

.nav * a:hover, .foot * a:hover
{
	color: #15395F;
}

.active
{
	border: 2px solid #2B4C6F !important;
	background-color: #74A97A !important;
}

.active a, .active a:hover
{
	color: #062A4F;
	background-color: #74A97A !important;
}

.center
{
	margin: auto;
	text-align: center;
	padding: 2px;
	display: block;
}

audio
{
	position: relative;
}

img.center
{
	padding: 1%;
	width: 50%;
	height: 50%;
}

#title
{
	font-weight: bold;
	font-size: 35px;
}

#sub
{
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
}

p
{
	text-indent: 3%
}

#intro
{
	font-size: 150%;
	font-weight: bold;
}

#testtablediv
{
	align-items: center;
	text-align: center;
	padding:3px;
	margin: auto;
}

table.cool th
{
	width: 100%;
}

table.cool, table.cool * 
{
	text-align: center;
	font-family: 'Segoe Print', 'Trebuchet MS';
	color: red;
	background-color: pink;
	border: 2px dashed black;
	padding: 5px;
	margin: auto;
	border-radius: 10px;
}

pre
{
	width: 100%;
	padding: 1%;
	font-size: 120%;
}

table.colorset
{
	padding: 1%;
}

.colorset * , .colorset
{
	border: 2px solid black;
	margin: auto;
	text-align: center;
}

.colorset * div
{
	min-width: 50px;
	min-height: 50px;
	display: block;
}

#license
{
	font-family: monospace;
	text-indent: 0px !important;
	margin: 1em 0;
	white-space: pre-line;
}

::selection
{
	color: #74A97A;
	background-color: #062A4F;
}